@font-face {
  font-family: "BasisGrotesk";
  src: url("typefaces/BasisGrotesquePro-Light 2.otf");
}
@font-face {
  font-family: "GT";
  src: url("typefaces/GT-Walsheim-Pro-Light.otf");
}
@font-face {
  font-family: "GT-med";
  src: url("typefaces/GT-Walsheim-Pro-Medium.otf");
}
@font-face {
  font-family: "MonumentGrotesk";
  src: url("typefaces/monument-grotesk-regular.otf");
}
@font-face {
  font-family: "GoodSans";
  src: url("typefaces/GoodSans-Thin.otf");
}
@font-face {
  font-family: "Plaak";
  src: url("typefaces/Plaak-25Light.otf");
}

#website {
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 44px;
  font-family: "GT-med";
}
h2 {
  font-size: 26px;
  font-family: "GT-med";
  color: #474747;
}
h3 {
  font-size: 22px;
  font-family: "Plaak";
  min-width: 150px;
  color: #474747;
}
h4 {
  font-size: 20px;
  font-family: "GT";
  min-width: 150px;
  color: #474747;
}
h5 {
  font-size: 20px;
  font-family: "MonumentGrotesk";
}
p,
li,
th {
  font-size: 18px;
  font-family: "BasisGrotesk";
  line-height: 28px;
}
label, button{
  font-size: 14px;
  font-family: "BasisGrotesk";
  line-height: 24px;
}
li:not(:last-child){
  margin-bottom: 10px;
}
th{
  height: 55px;
  text-align: center;
  background-color: #f5f5f5;
}

td {
  font-size:16px;
  font-family: 'BasisGrotesk';
  max-width: 200px;
  padding: 1%;
}
table, td, th {
  border: 1px solid;
  border-color: #c8c8c8;
}
table {
  width: 90%;
  border: 1px solid;
  border-collapse: collapse;
  margin-bottom: 5%;
  margin-top: 2%;
}
ul {
  width: 60%;
}

.section {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 4%;
}
.h3-section {
  margin-top: 6%;
}
#titleArea{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 4%;
  /* margin-bottom: 8%; */
}
#overviewContent{
  display: flex;
  gap: 5%;
}
#tools{
  min-width: 200px;
}
.overview-text{
  margin-bottom: 0px;
  margin-top: 15px;
}
#summarySec1, #summarySec2{
  display:flex;
  gap: 5%;
}
#choices {
  display: flex;
  gap: 5%;
}
#planning{
  width: 85%;
}
#planning-sec{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5%;
}
#initial-img{
  width: 60%;
  height: fit-content;
  min-width: 250px;
  border: 2px solid rgb(239, 239, 239);
}
#initial-writing-sec{
  width:30%;
  min-width: 250px;
}
#arrow{
  width: 13%;
}
#functionality, #takeaways, #planning, #analysis, #imageSection{
  margin-top: 4%;
  margin-bottom: 8%;
}
#pageAnalysis{
  width: 100%;
  margin-bottom: 5%;
}
#imageExamples{
  display: flex;
  gap: 1%;
  align-items: center;
  justify-content: space-between;
  padding:2%;
}
#imageWriting{
  min-width: 250px;
}
#plane{
  width:30%;
}
#placeImages{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
}
#kruger, #london, #grand, #iceland{
  width:40%;
  margin-bottom: 2%;
  border-radius: 10px;
}
#implementationSec{
  display: flex;
  gap: 5%;
}
#gif{
  width:60%
}
a:link{
  color: #313131;
  text-decoration: none;

}
a:hover{
  color: #E7436D;
  text-decoration: underline;
}
#competitiveAnalysis{
  padding: 6%;
}

#conclusion{
  margin-bottom: 10%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 4%;
  min-width: 325px;
}
